<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login website! </title>
    <link rel="stylesheet" href="/css/ui.css">
</head>
<body>
    <h1>Login</h1>
        <div class="formWrap">
            <form action="" method="post">
                <div class="inputWrap">
                    <div class="email">
                		<span> Email </span> <input type="text" name="email"><br/>
                    </div>
                    <div class="password">
                        <span> Password </span> <input type="password" name="password"><br/>
                    </div>
                </div>
                <input class="sendbtn" type="submit">
    	   </form>
        </div>

    	<div class="result"></div>

        <div class='signup'><a href='/join'>Sign up</a></div>
    <script>
        document.querySelector('.sendbtn').addEventListener('click', function(e) {
            // e.preventDefault();
            var email = document.getElementsByName('email')[0].value
            var password = document.getElementsByName('password')[0].value;
            sendAjax('http://localhost:3000/login', {'email' : email, 'password' : password}
            );
        })
        function sendAjax(url, data){ 
            data = JSON.stringify(data);
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', "application/json");
            xhr.send(data);
            xhr.addEventListener('load', function() {
                var result = JSON.parse(xhr.responseText);
                var resultDiv = document.querySelector(".result");
                if(result.email)  {
                    //resultDiv.innerHTML = "welcome, " + result.email + "!!";
                    window.location.href="/main";
                }
                else if (xhr.status === 401) resultDiv.innerHTML = result;
                else resultDiv.innerHTML = result;
            
            });
        }
    </script>
</body>
</html>