<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>
<body>
    <h1>main page</h1>    
    <h3>welcome, <%= id %> 번째 가입고객님!!</h3>

    <div>
        <a href="/logout">logout</a> 
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sequi eum odit rerum quisquam voluptates! Nesciunt voluptatibus dicta non minus eius in incidunt at esse! Hic vel corporis id similique!</p>


    <img src="images/thumbnail.PNG" alt="" width="300px">

    <script src="main.js"></script>
</body>
</html>