ul,li,section,div {padding: 0;margin: 0}
li {
    list-style: none;
}

h1 {
    margin-top : 60px;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
}


/* main  */
header {
    margin: 30px;
    overflow: auto;
}
header > div {
    float : left;
    margin-right: 20px;
}
section.content {
    margin: 30px;
    }


/* login */
.formWrap {
    width: 350px;
    overflow: auto;
    margin: 30px auto;
}

form span {
    display: inline-block;
    width : 80px;
}

.email {
    margin-bottom: 4px;
}

.inputWrap, .sendbtn {
    float: left;
}

.sendbtn {
    float: left;
    margin-left: 20px;
    width: 80px;
    height: 40px;
    background-color: slategray;
    color:#fff;
    height: 64px;
}

.btn-small {

}

input {
    width: 150px;
    height: 24px;
}

.result {
    text-align: center;
    color: #c33;
}

.signup {
    margin-top: 6px;
    font-size: 1.6rem;
    text-align: center;
}

/*movie area*/
.showWrap {
    width: 2000px;
    margin: 60px auto;
    overflow-y: auto;
}

.showWrap > ul {
    overflow: auto;
    width: 1928px;
    margin: 0px auto;
    background-color: #f3f2f2;
}

.showWrap > ul > li {
    padding: 60px;
    width: 200px;
    float: left;
    border-right: 1px solid #e6dada;
    height: 500px;
}

.showWrap form > div {
    margin-bottom: 12px;
}

.showWrap button {
    width: 120px;
    height: 30px;
    margin-top: 20px;
}

.showResult {
    margin-top: 30px;
}

.showResult li {
    margin-bottom: 16px;
}